node_modules
dist
gitlab-data/gitlab/*
!gitlab-data/gitlab/README.md
gitlab-data/redis/*
!gitlab-data/redis/README.md
gitlab-data/postgresql/*
!gitlab-data/postgresql/README.md
gitlab-data/runner/config.toml
gitlab-data-backup
gitlab-data/screenshots
temp
npm-debug.log
src/config/config-local-override.ts
