node_modules
dist
gitlab-data/gitlab/*
!gitlab-data/gitlab/README.md
gitlab-data/redis/*
!gitlab-data/redis/README.md
gitlab-data/postgresql/*
!gitlab-data/postgresql/README.md
gitlab-data/runner/config.toml
gitlab-data-backup
gitlab-data/gitlab-logs
gitlab-data/charles
gitlab-data/gitlab-logs
temp
npm-debug.log
src/config/config-local-override.ts
src/integration-test/gitlab-api-tests.ts
src/integration-test/configuration.*.ts*
src/integration-test/.cache
!src/integration-test/configuration.example.ts
src/integration-test/blank-*
